  <table class="table table-hover table-inverse">
    <% if @range == "User" %>
    <h2>Users search for "<%= @word %>"</h2>
      <thead>
        <tr>
          <th>User</th>
        </tr>
      </thead>

      <tbody>
        <tr>
        <td>
          <% @users.each do |user| %>
            <%= link_to user_path(user.id) do %>
              <%= user.name %>
            <% end %>
          <% end %>
        </td>
      </tbody>

    <% else %>

      <thead>
        <tr>
          <th>Title</th>
          <th>opinion</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <h2>Posts search for "<%= @word %>"</h2>
        <% @posts.each do |post| %>
          <tr>
            <% if post.user %>
        <tr>
          <td>
            <%= link_to post_path(post.id) do %>
              <%= post.title %>
            <% end %>
          </td>
          <td><%= post.body %></td>
          <td><%= post.created_at.strftime('%Y/%m/%d') %></td>
          <td><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></td>
        </tr>
        <% end %>
        <% end %>
      </tbody>
    <% end %>
  </table>