<div class="container">
  <div class="row">

    <h3><%= @user.name %></h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>opinion</th>
          <th>User</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @posts.each do |post| %>
        <tr>
          <td>
            <%= link_to post_path(post.id) do %>
              <%= post.title %>
            <% end %>
          </td>
          <td><%= post.body %></td>
          <td><%= post.user.name %></td>
          <td><%= link_to "#{post.post_comments.count} コメント", post_path(post.id), class: "text-secondary" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>